{% extends 'header.html' %}

{% block content %}  
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
      <div class="container">
        <h2>About Us</h2>
        <p>The main aims & objective of ICA is to bring Computers into life of individuals from every walk of life, be it Students, Professionals, Govt. Servants, Business Heads and even Housewives.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="../assets/img/ab5.jpg" class="img-fluid" alt style="height: 480px;">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>Innovative Computer Academy</h3>
            <p class="fst-italic">
              Innovative Computer Academy is committed to develop the high end technology solutions with constant innovation, continuous improvement and value added services.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> The ICA is substantial enough to have good facilities and at the same time we ensure that our students are treated as individuals.</li>
              <li><i class="bi bi-check-circle"></i> In this era of information Technology and Science we are committed to made available the computer education literacy and accounts education on very nominal fee structures across the city covering rural and urban area.</li>
              <li><i class="bi bi-check-circle"></i> We offer a variety of professional & industrial training courses such as <b>Python, C, C++, HTML, JavaScript, PHP, JAVA, SQL</b>. These software training courses help students to build their career in information technology especially in Website Designing & Development.</li>
              <li><i class="bi bi-check-circle"></i>We also provide coaching classes for Computer & IT students, pursuing <b>BCA, MCA, B.Tech, BSc, MSc and Diploma.</b></li>
              <li><i class="bi bi-check-circle"></i>We also provide website related services to grow your business online. Our web solution includes website designing, web development and web hosting.</li>
            </ul>
            <p>
             ICA started its operations from Burhanpur M.P & We have aggressive plans to extend its operation.
            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Mudassir</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    ICA is the best training institute for beginners to learn all about computers from scratch.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../assets/img/shahrukh.jpeg" class="testimonial-img" alt="">
                  <h3>Shahrukh Ansari</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    This is Shahrukh from Burhanpur. ICA is a wonderful institute with helpful staff. I am onging with Basic Computer training course from here. Truly,very good institute.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Huzaifa</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    The Environment of ICA training institute is excellent. Even the fee structure is also good and i am persuing mponline training course from here. Thanks to ICA.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Saleehen</h3>
                  <h4>Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Saleehen From Burhanpur. I finished MS-Office Course from ICA. It was an very nice experience. institute is very good, trainer is very helpful & teahing standard is so good.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="../assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>Ahtesham Khan</h3>
                  <h4>College Student</h4>
                  <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    I am Ahtesham. By my friend reference i took admission in ICA training institute. Trainer knowledge is really helped us to understand about technologies.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  {% endblock %}

  