{% extends 'header.html' %}

{% block content %}  
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>BLOGS</h2>
        <p>Read our blogs here and voice your opinion about us.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="../assets/img/aiblog.jpg" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Artificial Intelligence</h4>
                </div>

                <h3><a href="https://litslink.com/blog/how-artificial-intelligence-is-changing-the-world">"How AI Changing The World?"</a></h3>
                <p>To understand how artificial intelligence is transforming the world, you need to get the gist of what AI is in the first place. Unfortunately, there is no precise and widely accepted description of what artificial intelligence is. Besides, when you are trying to look it up on the internet, you get dozens of definitions from different sources and people.</p>
                <p>AI has sneaked up on our lives discreetly and without making much fuss. Right now, it’s almost everywhere — at our workplace, in our homes, cars, in our phones and laptops — in short, in the things that have become integral in our lives. Moreover, AI devices know what kind of TV shows and movies we like, what kind of music we love, and what type of partners we prefer. Apart from our private lives, AI is influencing multiple business spheres like automotive, healthcare, economy, e-commerce, and entertainment.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/blog1.png" class="img-fluid" alt="">
                    <span>Author: <b>Anastasia Galadzhii</b></span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="../assets/img/pythonblog.jpg" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Programming</h4>
                </div>

                <h3><a href="https://www.springboard.com/blog/data-science/why-are-python-programmers-in-such-high-demand/"> "Why Are Python Programmers in Such High Demand?"</a></h3>
                <p>Python programmers and developers are in high and growing demand. If you have the right skills, you can land a job in this exciting profession in 2022.</p>
                <p>Python is used in many different programming scenarios, from games to web applications. It’s used by some of the biggest companies in the world, including Netflix, PayPal, and Dropbox. These companies are using Python to push the boundaries of emerging technologies like data science, data analytics, artificial intelligence, natural language processing, and AI/machine learning.</p> 
                <p>The future of Python looks very bright for 2022 and many years to come.</p><br><br><br>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/blog1.png" class="img-fluid" alt="">
                    <span>Sakshi Gupta</span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../assets/img/aiblog2.png" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Python</h4>
                </div>

                <h3><a href="https://www.tftus.com/blog/why-python-is-so-good-for-ai-machine-learning-and-deep-learning">"Why Python is So Good for AI, Machine Learning, and Deep Learning?"</a></h3>
                <p>Over recent years, Python has risen to fame and has enjoyed steady popularity as a programming language. When it comes to the most trending technologies like Artificial Intelligence (AI), Machine Learning (ML), and Deep Learning (DL), Python quickly becomes the top choice. Python is a general-purpose programming language, but despite being that it is widely used for Artificial Intelligence, Machine Learning, and Deep Learning, why? Let’s find out the reasons from this blog.</p>
                <p>Python is the choice of language for every core Developer, Machine Learning Engineer, Data Scientist, and more. Let’s find out the reasons why Python is so popular in the fields of Artificial Intelligence, Machine Learning and Deep Learning.
                  From development to deployment and maintenance, Python helps AI, ML, and DL developers to be productive and confident about the software they’re building.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/dp.jpg" class="img-fluid" alt="">
                    <span>Blogger</span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../assets/img/selfdrive.jpg" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Internet Of Things</h4>
                </div>

                <h3><a href="https://www.bing.com/search?q=Self+Driving+Cars+Disrupting+the+Future+of+Transportation&cvid=ec2a7ada856042aea26f1964c81b3b84&aqs=edge..69i57j69i59i450l8&FORM=ANCMS9&PC=U531">"Self Driving Cars Disrupting the Future of Transportation"</a></h3>
                <p>Self-driving cars promise to be an efficient and sustainable mode of transportation for everyone, preventing accidents and making commuting convenient for all. Hardware and especially AI software development is what’s driving the industry forward.</p>
                <p>About 1.2 million people die and up to 50 million get injured in traffic collisions each year. 94% of these crashes involve human error. AI-powered autonomous cars are the technology that can put a stop to this, however many aspects need to be incorporated into these systems to make them fully capable of replacing humans at the wheel.You are amazed as you sit in your self-driving car. The car is driving steadily, adjusting the speed in coordination with stop signs and is barely coming to a halt, aiming for the optimized fuel consumption you set earlier. Finally, you hear, “you have arrived at your destination.It drops you in front of the entrance.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/dp.jpg" class="img-fluid" alt="">
                    <span>Pixelplex.io</span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../assets/img/dl.png" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Deep Learning</h4>
                </div>

                <h3><a href="https://analyticsindiamag.com/top-5-blogs-deep-learning-for-cxos-ai-enthusiasts/">"Blog On Deep Learning"</a></h3>
                <p>Deep Learning, a new area of Machine Learning Research, is often clubbed together with it. But with advanced research happening in the areas of Deep Learning specifically, it is important for all AI enthusiasts to understand and keep up with the objective of moving Machine Learning closer to one of its original goals: Artificial Intelligence.</p>
                <p>OpenAI is a non-profit artificial intelligence research company that aims to promote and develop safe and friendly AI. Big names such as Sam Altman, Elon Musk and other notable investors came along to fund this nonprofit organisation. OpenAI blog is religiously followed all over the world by Deep Learning and AI enthusiasts. It regularly posts about its research on advanced AI-powered technologies such as Natural Language Processing, Image Processing and Speech Processing.</p><br><br>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/dp.jpg" class="img-fluid" alt="">
                    <span>Prajakta Hebbar</span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../assets/img/remote.jfif" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Tech Giants</h4>
                </div>

                <h3><a href="https://www.hackerearth.com/blog/talent-assessment/remote-hiring-2022/">"Help You to Make The Shift Towards Remote Hiring In 2022"</a></h3>
                <p>2020 changed the way the globe went to work. While business continuity plans were quickly activated to offset the volatility of the pandemic, and people grew accustomed to the new normal of virtual meetings and remote working, talent hiring, on the whole, presented a challenge for HR and other people teams.</p>
                <p>n the face of it all, remote hiring turned out to be a convenient, efficient, cost and time-effective option for both recruiters and candidates. In the post-Covid world, remote hiring has emerged as a common phenomenon in contemporary HR practices. The use of online AI-enabled talent management platforms such as the one provided by HackerEarth has now made it possible to hire from anywhere in an objective and skill-first manner while rooting out the inherent biases that have been the bane of traditional hiring practices.</p><br>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/dp.jpg" class="img-fluid" alt="">
                    <span>Author: Vishwastam Shukla</span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

  {% endblock %}