{% extends 'header.html' %}

{% block content %}  
  <main id="main" data-aos="fade-in">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>BLOGS</h2>
        <p>Read our blogs here and voice your opinion about us.</p>
      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Courses Section ======= -->
    <section id="courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="../assets/img/aiblog.jpg" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Artificial Intelligence</h4>
                </div>

                <h3>"How AI Changing The World?"</h3>
                <p>To understand how artificial intelligence is transforming the world, you need to get the gist of what AI is in the first place. Unfortunately, there is no precise and widely accepted description of what artificial intelligence is. Besides, when you are trying to look it up on the internet, you get dozens of definitions from different sources and people.</p>
                <p>AI has sneaked up on our lives discreetly and without making much fuss. Right now, it’s almost everywhere — at our workplace, in our homes, cars, in our phones and laptops — in short, in the things that have become integral in our lives. Moreover, AI devices know what kind of TV shows and movies we like, what kind of music we love, and what type of partners we prefer. Apart from our private lives, AI is influencing multiple business spheres like automotive, healthcare, economy, e-commerce, and entertainment.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/trainers/trainer-1.jpg" class="img-fluid" alt="">
                    <span>Kashif</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;50
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;65
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="../assets/img/pythonblog.jpg" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Programming</h4>
                </div>

                <h3>"Why Are Python Programmers in Such High Demand?"</h3>
                <p>Python programmers and developers are in high and growing demand. If you have the right skills, you can land a job in this exciting profession in 2022.</p>
                <p>Python is used in many different programming scenarios, from games to web applications. It’s used by some of the biggest companies in the world, including Netflix, PayPal, and Dropbox. These companies are using Python to push the boundaries of emerging technologies like data science, data analytics, artificial intelligence, natural language processing, and AI/machine learning.</p> 
                <p>The future of Python looks very bright for 2022 and many years to come.</p><br><br><br>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/trainers/trainer-2.jpg" class="img-fluid" alt="">
                    <span>Kashif</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;35
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;42
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../assets/img/aiblog2.png" class="img-fluid" alt="..." style="height:280px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Python</h4>
                </div>

                <h3>"What makes Python the best programming language for machine learning and AI?"</h3>
                <p>AI projects differ from traditional software projects. The differences lie in the technology stack, the skills required for an AI-based project, and the necessity of deep research. To implement your AI aspirations, you should use a programming language that is stable, flexible, and has tools available. Python offers all of this, which is why we see lots of Python AI projects today.</p>
                <p>From development to deployment and maintenance, Python helps developers be productive and confident about the software they’re building. Benefits that make Python the best fit for machine learning and AI-based projects include simplicity and consistency, access to great libraries and frameworks for AI and machine learning (ML), flexibility, platform independence, and a wide community. These add to the overall popularity of the language.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/trainers/trainer-3.jpg" class="img-fluid" alt="">
                    <span>Azhar</span>
                  </div>
                  <div class="trainer-rank d-flex align-items-center">
                    <i class="bx bx-user"></i>&nbsp;20
                    &nbsp;&nbsp;
                    <i class="bx bx-heart"></i>&nbsp;85
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Courses Section -->

  </main><!-- End #main -->

  {% endblock %}