{% extends 'header.html' %}

{% block content %}  


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today<br>Leading Tomorrow</h1>
      <h2>Help you to Understand Technology!</h2>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3 mx="3">Why Choose Innovative?</h3>
              <img src="../assets/img/ab2.jpg" alt="" style="width:385px;height:300px;">
              <p>
                <br>ICA is the best IT training institute in Burhanpur(M.P), which provides a variety of programs and courses at an affordable cost. We are the best known for the excellence, quality and consistency. We doesn’t only provide computer courses, but also helps in personality development of the students. ICA has a good infrastructure with sufficient space and relevant environment. In our institute, we have separate systems for every student, so that he/she can learn better.
              </p>
              <div class="text-center">
                <a href="about.php" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-book-reader"></i>
                    <h4>Quality Education</h4>
                    <p>ICA offers an excellent quality of education across all training institutes. We update our course syllabus as per need.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-rupee"></i>
                    <h4>Affordable Fees</h4>
                    <p>We deliver high-quality education at affordable prices.Accept all modes of Payments.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-female"></i>
                    <h4>Separate Classes</h4>
                    <p>ICA Provides Separate Batches for Girls & Boys. </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-slideshow"></i>
                    <h4>Practical Sessions</h4>
                    <p>With each course, we focus on practical and real-time learning. Every class is followed by practical sessions & exercises.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bxs-user-check"></i>
                    <h4>Individual Attention</h4>
                    <p>Our attention become easily directed towards a loud sound, a bright light or a strong smell, and also a large building will be more readily attended to, than a small one.</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-certification"></i>
                    <h4>Course Certificate</h4>
                    <p>The participant is required to score minimum marks/grades as decided by the Institute from time to time to complete the course Certification.</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <p>Courses</p>
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <img src="../assets/img/icon/py.jfif" alt="" style="width:40px;height:35px;"> 
              <h3 class="mx-2">Python</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="../assets/img/icon/c.png" alt="" style="width:35px;height:35px;"> 
              <h3 class="mx-2">C Programming</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <img src="../assets/img/icon/C++.png" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">C++</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <img src="../assets/img/icon/php.png" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">PHP</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/mysql.jfif" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">MySql</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/js.jfif" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">JavaScript</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/html.jfif" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">HTML</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/sql.png" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">SQL</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/java.jpg" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">Java</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/taly.png" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">Tally</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/corel.jfif" alt="" style="width:40px;height:35px;">
              <h3 class="mx-1">Corel Draw</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <img src="../assets/img/icon/coduing.png" alt="" style="width:40px;height:35px;">
              <h3 class="mx-2">Coding</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->

    <!-- ======= Popular Courses Section ======= -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Courses</h2>
          <p>Popular Courses</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="course-item">
              <img src="../assets/img/course-1.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Basic</h4>
                  <p class="price">INR 2100</p>
                </div>

                <h3>Computer Fundamental & MS-Office</h3>
                <p>In this introductory course, students will become familiar with the basic principles 
                  of a personal computer, including the internal hardware, the operating system, and 
                  software applications.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/kashif.jpeg" class="img-fluid" style="height:50px; width:55;">
                    <span>Kashif</span>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="course-item">
              <img src="../assets/img/course-2.jpg" class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Commerce</h4>
                  <p class="price">INR 1500</p>
                </div>

                <h3>Tally & Accounting</h3>
                <p>Do you belong to an Accounting field? Are you in search of a Tally Courses which shines your career bright? Then I would take the privilege in introducing an Accounting package named Tally.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/monty.jpeg" class="img-fluid" alt="" style="height:50px; width:55;">
                    <span>Mohtashim</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="course-item">
              <img src="../assets/img/pycourse1.png" class="img-fluid" alt="" style="height: 275px;">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4>Coding</h4>
                  <p class="price">INR 5000</p>
                </div>

                <h3>Python Mastery (Beginner to advance)</h3>
                <p>Python is a universal programming language with endless benefit & applications.If you are curious about coding and want to learn how coding works, then Python and this Python for Beginners course is a great place to start.</p>
                <div class="trainer d-flex justify-content-between align-items-center">
                  <div class="trainer-profile d-flex align-items-center">
                    <img src="../assets/img/kashif.jpeg" class="img-fluid" alt="">
                    <span>Kashif</span>
                  </div>
                  
                </div>
              </div>
            </div>
          </div> <!-- End Course Item-->

        </div>

      </div>
    </section><!-- End Popular Courses Section -->

    <!-- ======= Trainers Section ======= -->
    <section id="trainers" class="trainers">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <p>Trainers</p>
        </div>

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../assets/img/dp.jpg" class="img-fluid" alt="" style="height:250px;">
              <div class="member-content">
                <h4>Mohammad Kashif Ansari</h4>
                <span>B.C.A, M.C.A<br>(Al-Falah University, Delhi)<br>Web Developer</span>
                <p>
                  I'm Post Graduated in Computer Applications with prior work experience in IT sector. I have 1 year experience in Python Programming Language.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../assets/img/dp.jpg" class="img-fluid" alt="" style="height:250px;">
              <div class="member-content">
                <h4>Mohtashim Khan</h4>
                <span>B.COM<br>(Seva Sadan College Burhanpur,M.P)<br>Specialiazation in Tally & Accounting</span>
                <p>
                  I have Completed My Bachelor's In Commerce and I have one year experience in Tally & Accounting.
                </p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <img src="../assets/img/dp.jpg" class="img-fluid" alt="" style="height:250px;">
              <div class="member-content">
                <h4>Ashfaque Khan</h4>
                <span>B.Com (Computer)<br>(Maips College,Burhanpur,M.P)<br>Designer</span>
                <p>
                  I have completed B.com Specialiazation in Computer. I have Experience In Designing, Corel Draw, Photoshop & Its Frameworks.
                </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Trainers Section -->

  </main><!-- End #main -->
  
  {% endblock %}
  